html {
  min-width: 230px;
}

header,
main {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

#top-bar {
  background-color: red;
  color: white;
  min-height: 30px;
  width: 100%;
  padding: 5px;
}

 a:visited.white-link,
 a:link.white-link {
  color: white;
  text-decoration: none;
}

#login {
  text-align: right;
  margin: auto auto auto 0px;
}

.cover-picture {
  max-width: 1000px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.catalog,
.item {
  text-align: center;
}

.catalog-picture,
.item-picture {
  width: 100%;
  height: auto;
}

.category {
  text-align: center;
}



/*Buttons*/
.catalog-label {
  position: relative;
}

.top-right-button-group {
  position: absolute;
  top: 2px;
  right: 2px;
  text-decoration: none;
}

.top-right-button-member {
  margin: 5px;
}


/*Copied from w3schools.com*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*END w3schools*/

/*Google Signin Button Style*/

#gsignin {
     display: inline-block;
     background: white;
     color: #444;
     width: 220px;
     border-radius: 5px;
     border: thin solid #888;
     box-shadow: 1px 1px 1px grey;
     white-space: nowrap;
   }
   #gsignin:hover {
     cursor: pointer;
   }
   span.label {
     font-family: serif;
     font-weight: normal;
   }
   span.icon {
     background: url('/img/g-normal.png') transparent 5px 50% no-repeat;
     display: inline-block;
     vertical-align: middle;
     width: 42px;
     height: 42px;
   }
   span.buttonText {
     display: inline-block;
     vertical-align: middle;
     padding-left: 12px;
     padding-right: 42px;
     font-size: 14px;
     font-weight: bold;
     /* Use the Roboto font that is loaded in the <head> */
     font-family: 'Roboto', sans-serif;
   }




/*Responsive*/
@media (max-width:400px) {
  .welcome {
    display: none;
  }
}
