{% extends "base.html" %}

{% block content %}
  <div class="catalog-label">
    <h1>{{catalog.name}}</h1>
    <p>
      {{catalog.description}}
    </p>
    {% if user_can_edit(user.username, catalog.catalog_id) %}
      <div class="top-right-button-group">
        <a href="/editcatalog/{{catalog.catalog_id}}"
           class="edit-button top-right-button-member glyphicon glyphicon-pencil"
           rel="tooltip" title="Edit Catalog"></a>
        <a data-toggle="modal" data-target="#delete-dialog"
           onclick="setDialogCallback('deleteCatalog({{catalog.catalog_id}})')"
           class="delete-button top-right-button-member"
           rel="tooltip" title="Delete Catalog">X</a>
      </div>
    {% endif %}
  </div>
  <img class="cover-picture" src="{{catalog.cover_picture}}">
</header>

<main class="container">
  {% if categories %}
    {% for category in categories if categories %}
      <div class="category row">
        <hr>
        <div class="category-label">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          {% if user_can_edit(user.username, catalog.catalog_id) %}
            <div class="top-right-button-group">
              <a href="/catalog/{{catalog.catalog_id}}/editcategory/{{category.category_id}}"
                 class="edit-button top-right-button-member glyphicon glyphicon-pencil"
                 rel="tooltip" title="Edit Category"></a>
              <a data-toggle="modal" data-target="#delete-dialog"
                 onclick="setDialogCallback('deleteCategory({{catalog.catalog_id}}, {{category.category_id}})')"
                 class="delete-button top-right-button-member"
                 rel="tooltip" title="Delete Category">X</a>
            </div>
          {% endif %}
        </div>

        {% for item in get_items_in_category(catalog.catalog_id, category.category_id) %}
          <article class="item col-md-4 col-sm-6 col-xs-12">
            <img class="item-picture" src="{{item.picture}}">
            <div class="item-label">
              <h3>{{item.name}}</h3>
              <p>{{item.description}}</p>
              <p>Price: {{item.price}}</p>
                {% if user_can_edit(user.username, catalog.catalog_id) %}
                  <div class="top-right-button-group">
                    <a href="/catalog/{{catalog.catalog_id}}/edititem/{{item.item_id}}"
                       class="edit-button top-right-button-member glyphicon glyphicon-pencil"
                       rel="tooltip" title="Edit Item"></a>
                    <a data-toggle="modal" data-target="#delete-dialog"
                       onclick="setDialogCallback('deleteItem({{catalog.catalog_id}}, {{item.item_id}})')"
                       class="delete-button top-right-button-member"
                   rel="tooltip" title="Delete Item">X</a>
                 </div>
              {% endif %}
            </div>
          </article>
        {% endfor %}

      </div>
    {% endfor %}
  {% endif %}

  <p id="addcategory">
    <a href="/catalog/{{catalog.catalog_id}}/addcategory">Add Category</a>
  </p>

  <p id="additem">
    <a href="/catalog/{{catalog.catalog_id}}/additem">Add Item</a>
  </p>
</main>
{% endblock content %}
