{% extends "base.html" %}

{% block content %}
  <div class="catalog-label">
    <h1>{{catalog.name}}</h1>
    <p>
      {{catalog.description}}
    </p>
    <div class="top-right-button-group">
      <a href="/editcatalog/{{catalog.key.id()}}"
         class="edit-button top-right-button-member glyphicon glyphicon-pencil"
         rel="tooltip" title="Edit Catalog"></a>
      <a href="/deletecatalog/{{catalog.key.id()}}"
         class="delete-button top-right-button-member"
         rel="tooltip" title="Delete Catalog">X</a>
    </div>
  </div>
  <img class="cover-picture" src="{{catalog.cover_picture}}">

</header>
<main class="container">
  {% if categories %}
    {% for category in categories if categories %}
      <div class="category row">
        <div class="category-label">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          <div class="top-right-button-group">
            <a href="/catalog/{{catalog.key.id()}}/editcategory/{{category.key.id()}}"
               class="edit-button top-right-button-member glyphicon glyphicon-pencil"
               rel="tooltip" title="Edit Category"></a>
            <a href="/catalog/{{catalog.key.id()}}/deletecategory/{{category.key.id()}}"
               class="delete-button top-right-button-member"
               rel="tooltip" title="Delete Category">X</a>
          </div>
        </div>


        {% for item in category.get_items() %}
          <article class="item col-md-4 col-sm-6 col-xs-12">
            <img class="item-picture" src="{{item.picture}}">
            <div class="item-label">
              <h3>{{item.name}}</h3>
              <p>{{item.description}}</p>
              <p>Price: {{item.price}}</p>
              <div class="top-right-button-group">
                <a href="/catalog/{{catalog.key.id()}}/edititem/{{item.key.id()}}"
                   class="edit-button top-right-button-member glyphicon glyphicon-pencil"
                   rel="tooltip" title="Edit Item"></a>
                <a href="/catalog/{{catalog.key.id()}}/deleteitem/{{item.key.id()}}"
                   class="delete-button top-right-button-member"
                   rel="tooltip" title="Delete Item">X</a>
              </div>
            </div>
          </article>
        {% endfor %}

      </div>
    {% endfor %}
  {% endif %}

  <p id="addcategory">
    <a href="/catalog/{{catalog.key.id()}}/addcategory">Add Category</a>
  </p>

  <p id="additem">
    <a href="/catalog/{{catalog.key.id()}}/additem">Add Item</a>
  </p>
</main>
{% endblock content %}
