{% extends "base.html" %}

{% block content %}
  <h2>{{catalog.name}}</h2>
  <p>
    {{catalog.description}}
  </p>
  <img src="{{catalog.cover_picture}}">

  {% if categories %}
    {% for category in categories if categories %}
      <div class="category">
        <h3>{{category.name}}</h3>
        <h4>{{category.description}}</h4>
        <p>
          <a href="/catalog/{{catalog.key.id()}}/editcategory/{{category.key.id()}}">Edit category</a>
        </p>




      </div>
    {% endfor %}
  {% endif %}

  <p id="editcatalog">
    <a href="/editcatalog/{{catalog.key.id()}}">Edit Catalog</a>
  </p>

  <p id="addcategory">
    <a href="/catalog/{{catalog.key.id()}}/addcategory">Add Category</a>
  </p>

{% endblock content %}
