{% extends "base.html" %}

{% block content %}
  {% block heading %}
  <h1 class="title-edit">Edit catalog {{catalog.name}}</h1>

  <form id="edit-catalog" class="edit-form" method="post"
      action="/editcatalog/{{catalog.key.id()}}"
      enctype="multipart/form-data">
    {% endblock heading %}
    <label>
      <p>Name</p>
      <input name="name" type="text" value="{{catalog.name}}" required>
    </label><br>
    <label>
      <p>Description</p>
      <input name="description" type="text" value="{{catalog.description}}">
    </label><br>
    <label>
      <p>Cover Photo</p>
      <input name="cover_picture" type="file" value="{{catalog.cover_picture}}">
    </label><br>
    <div class="bottom-button-row">
      <button name="cancel" class="bottom-button" onclick="window.history.back()">Cancel</button>
      <input name="submit" type="submit" class="bottom-button">
      {% block delete %}
      <button name="delete" class="bottom-button" data-toggle="modal" data-target="#delete-dialog"
        onclick="setDialogCallback({{catalog.key.id()}})">Delete Catalog</button>
      {% endblock delete %}
    </div>
  </form>

{% endblock content %}
