{% extends "base.html" %}

{% block content %}
  {% block heading %}
  <h2 class="title-edit">Edit category {{category.name}} in {{catalog.name}}</h2>

  <form id="edit-category" class="edit-form" method="post"
      action="/catalog/{{catalog.key.id()}}/editcategory/{{category.key.id()}}"
      enctype="multipart/form-data">
    {% endblock heading %}
    <input name="catalog_id" type="hidden" value="{{catalog.key.id()}}">
    <label>
      <p>Name</p>
      <input name="name" type="text" value="{{category.name}}" required>
    </label><br>
    <label>
      <p>Description</p>
      <input name="description" type="text" value="{{category.description}}">
    </label><br>
    <div class="bottom-button-row">
      <button name="cancel" class="bottom-button" onclick="window.history.back()">Cancel</button>
      <input name="submit" type="submit" class="bottom-button">
      {% block delete %}
        <button name="delete" class="bottom-button" onclick="deleteCategory(catalog.key.id(), category.key.id())">Delete Category</button>
      {% endblock delete %}
    </div>
  </form>




  <p id="additem">
    {% if category %}
      <a href="/catalog/{{catalog.key.id()}}/additem?category_id={{category.key.id()}}">Add Item</a>
    {% else %}
      <a href="/catalog/{{catalog.key.id()}}/additem">Add Item</a>
    {% endif %}
  </p>


{% endblock content %}
