{% extends "base.html" %}

{% block content %}
  {% block heading %}
  <h2>Edit catalog {{catalog.name}}</h2>

  <form id="edit-catalog" class="catalog-form" method="post" action="/editcatalog/{{catalog.key.id()}}" enctype="multipart/form-data">
    {% endblock heading %}
    <label>
      <p>Name</p>
      <input name="name" type="text" value="{{catalog.name}}">
    </label><br>
    <label>
      <p>Description</p>
      <input name="description" type="text" value="{{catalog.description}}">
    </label><br>
    <label>
      <p>Cover Photo</p>
      <input name="cover_picture" type="file" value="{{catalog.cover_picture}}">
    </label><br>
    <input name="submit" type="submit">
  </form>
  {% block delete %}
  <form id="delete-catalog" method="post" action="/deletecatalog/{{catalog.key.id()}}">
    <input name="delete" type="submit" value="Delete Catalog">
  </form>
  {% endblock delete %}

{% endblock content %}
