{% extends "base.html" %}

{% block content %}
  <h1>CatalogWorld</h1>
  <p>Browse catalogs</p>
</header>
<main class="container">
  <div id="catalog-list" class="row">

  </div>
  {% for catalog in catalogs %}
    <article id="{{catalog.key.id()}}" class="catalog col-md-4 col-sm-6 col-xs-12">
      <a href="/catalog/{{catalog.key.id()}}">
        <img class="catalog-picture" src="{{catalog.cover_picture}}">
      </a>
      <div class="catalog-label">
        <a href="/catalog/{{catalog.key.id()}}">
          <h3>{{catalog.name}}</h3>
        </a>
        <p>{{catalog.description}}</p>
        <div class="top-right-button-group">
          <a href="/editcatalog/{{catalog.key.id()}}"
             class="edit-button top-right-button-member glyphicon glyphicon-pencil"
             rel="tooltip" title="Edit Catalog"></a>
          <a href="" onclick="deleteCatalog({{catalog.key.id()}})"
             class="delete-button top-right-button-member"
             rel="tooltip" title="Delete Catalog">X</a>
        </div>
      </div>

    </article>
  {% endfor %}


  <p id="addcatalog" class="row">
    <hr>
    <a href="/addcatalog">Add Catalog</a>
  </p>
</main>

{% endblock content %}
