{% extends "base.html" %}

{% block content %}
  <h2>Sign In</h2>
  <div id="signInButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="1050453128023-lpuo4af45992ivtcf80jqq4gpghka0l0.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>


  <div id="result"></div>
  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href="javascript:sendTokenToServer()">Login with Facebook</a>
    </fb:login-button>
  </button>
    <!--END FACEBOOK SIGN IN -->

{% endblock content %}
